{% extends 'base.html'%}
{% load crispy_forms_filters %}

{% block content %}

<h1>{{ post.title }}</h1>

<p>{{ post.owner.username }} at {{post.created_time}}</p>

<div class="post-content">
  {{ post.content }}
</div>

<br>

<h5>{{ post.commentaries.count }} comment{{ post.commentaries.count|pluralize }}</h5>

{% for comment in post.commentaries.all %}
<div class="card mb-3">
  <div class="card-header">
    {{ comment.user.username }} at {{ comment.created_time }}
  </div>
  <div class="card-body">
    <p class="card-text">
      {{ comment.content }}
    </p>
  </div>
</div>
{% endfor %}

<br>

{% if user.is_authenticated %}
<form method="post">
  {% csrf_token %}
  <div class="font-weight-bold">
    {{ form|crispy }}
  </div>
  <input type="submit" value="Add comment">
  {% else %}
  <div class="mb-3">
    <textarea class="form-control" rows="10" disabled>
Login to write a comment
    </textarea>
  </div>
  <a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-primary">
    Login
  </a>
  </form>
  {% endif %}
{% endblock %}
